<?php
$dbHost = 'localhost';				// Hostname of database server
$dbUser = 'phpmonitor';				// Username for connecting to database server
$dbPasswd = 'yoursecretpassword';	// Password for connecting to database server
$dbDatabase = 'phpmonitor';			// Database name to use
